# Настройки Базы Данных
DB_CONNECTION_STRING="Host=localhost;Port=5432;Database=chess_crm;Username=postgres;Password=your_password"

# Настройки Google
GOOGLE_CREDENTIALS_PATH="credentials.json"
GOOGLE_APPLICATION_NAME="ChessCrmMigration"

# ID гугл-таблиц
GOOGLE_SPREADSHEET_ID_SCHEDULE="YOUR_SCHEDULE_SPREADSHEET_ID"
GOOGLE_SPREADSHEET_ID_PAYMENTS="YOUR_PAYMENTS_SPREADSHEET_ID"
GOOGLE_SPREADSHEET_ID_ATTENDANCE="YOUR_ATTENDANCE_SPREADSHEET_ID"